.btn {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;

  color: var(--text-light);
  background-color: var(--cor1);
  box-shadow: 0 20px 30px -6px rgba(238, 177, 97, 0.5);

  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}
