/******************* MENU *********************************/
.header {
  position: relative;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

header video {
  position: absolute;
  top: 42%;
  left: 53%;
  width: 107%;
  height: 116%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: rgb(28 26 26 / 64%);
  pointer-events: none;
  z-index: -1;
}

button {
  font-family: var(--font-text);
  font-size: 1rem;
  color: white;
  font: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 242px;
}

.logo {
  margin-bottom: 195px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo_h1 {
  font-family: var(--font-title);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  color: #ffb432;
  text-shadow:
    0 0 10px rgba(255, 69, 0, 0.8),
    0 0 20px rgba(255, 69, 0, 0.6),
    0 0 30px rgba(255, 68, 0, 0.738);
  letter-spacing: 2px;
  text-transform: uppercase;

}

.nav {
  position: absolute;
  margin-top: 204px;
  display: flex;
  justify-content: flex-end;
  width: 97%;
  padding-right: 20px;
}


.nav-list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;
  margin-bottom: -49px;
  list-style: none;
}

.nav-list a {
  color: white;
  font-family: var(--font-text);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--cor5);
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--cor3), var(--cor4), var(--cor5));
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav a:hover::after {
  opacity: 1;
  transform: scaleX(1);
  animation: fireGlow 1s infinite alternate;
}

@keyframes fireGlow {
  0% {
    box-shadow: 0 0 5px var(--cor3), 0 0 10px var(--cor4);
    transform: scaleX(1);
  }

  50% {
    box-shadow: 0 0 10px var(--cor4), 0 0 15px var(--cor5);
    transform: scaleX(1.05);
  }

  100% {
    box-shadow: 0 0 5px var(--cor3), 0 0 10px var(--cor4);
    transform: scaleX(1);
  }
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}


.btn {
  font-size: 1.5rem;
  padding: -1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  transform: translateY(-5px);
}


/******************* TELAS *********************************/
@media (max-width: 750px) {


  .title {
    font-size: 4rem;
    text-align: center;
    right: 20px;
  }

  #sobre img {
    z-index: -1;
  }

  footer {
    padding: 226px 20px 30px 20px;
    font-size: 13px;
    font-family: var(--font-text);
    position: relative;
    z-index: -1;
  }

  .overlay {
    width: 100%;
    height: 103%;
    z-index: -1;
  }

  header video {
    position: absolute;
    top: 42%;
    left: 53%;
    width: 116%;
    height: 116%;

    transform: translate(-50%, -50%);
    filter: blur(2px);
    object-fit: cover;
    z-index: -1;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.829);
    pointer-events: none;
    z-index: -1;
  }

  .logo_h1 {
    font-size: 4rem;
  }

  .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    padding-top: 2rem;
    padding-bottom: 13rem;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--cor1);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .divisoria {
    z-index: -1;
  }
}